.container
  .row.first-row
    .span8
      %h3 Inbox
  .row
    .span2
      = link_to "COMPOSE", new_admin_message_path, class: 'btn btn-primary', :"data-no-turbolink"=>true
  .row.inbox-list
    - @conversations.each do |conv|
      .row.inbox-row{class: conv.have_unread_message(current_user).present? ? "inbox-row-bold" : ""}
        .span2
          = conv.messages.last.created_at.strftime("%m/%d/%Y %H:%M:%S")
        .span7
          = link_to Sanitize.fragment(conv.messages.last.body).truncate(100), message_list_admin_messages_path(conv)
        .span2
          = conv.messages.last.sender.name
        .span1
          = link_to(admin_message_path(conv), class: 'btn btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
            %i.icon-trash
      / - conv.messages.each do |msg|
      /   .span9.message-details{class: msg.sender == @sender ? "pull-left" : "pull-right"}
      /     .row{style:'border-bottom: 1px solid blue;padding: 10px 10px 0;'}
      /       .span4{style:'margin-left:0px;'}
      /         %label{style:'font-weight: 600;'}
      /           Sender:
      /           = msg.sender.name
      /     .row{style:'padding: 20px 10px;'}
      /       .span8{style:'margin-left:0px;'}
      /         %label= msg.body
      /       .span2
      /     .row{style:'border-top: 1px solid blue;padding: 5px 10px 10px;'}
      /       .span4{style:'margin-left:0px;'}
      /         Receiver:
      /         = msg.receiver.name
      /       .span4.pull-right
      /         %label{style:"text-align:right;"}
      /           Sent At:
      /           = msg.created_at.strftime("%m/%d %Y %H:%M:%S")
  .row.last
    =will_paginate @conversations