.row.workorder-form-page
  = simple_form_for([:admin, @work_order], :html=> {class: 'form-horizontal', multipart: true}) do |f|
    = f.error_notification
    .general
      .form-inputs
        %fieldset.group-border
          %legend.group-border General Info
          .row
            .span4
              = f.input :property, :collection => Property.all.collect{|prt| [prt.name, prt.id]}, required: true
            .span4
              = f.input :category, :collection => Category.all_categories.collect{|cat| [cat.full_name.join('->'), cat.id]}, required: true
            .span4
              = f.input :level, :collection => WorkOrder::LEVELS.map{|level| [level, level.downcase]}
          .row
            .span12
              = f.input :title, required: true
          .row
            .span12
              = f.input :details, as: :text, required: true, input_html:{class: 'span9', style:'max-width: 894px;'}
        %fieldset.group-border
          %legend.group-border Assigned To          
          .row
            .span4
              = f.input :maintenance, :collection => User::maintenances.collect{|mc| [mc.name, mc.id]}, required: true, label: 'Assigned To'
      .form-actions
        .row
          .span2.offset3
            = link_to "Cancel", admin_work_orders_path, class: 'btn btn-danger span1'
          .span2
            = f.submit "Save", class: 'btn btn-primary span2'
