.container
  .row.first-row
    .span8
      %h3 Users
    .span4{style:'margin-top:20px;'}
      = form_tag admin_users_path, method: 'get', :class=>'form-search', :id=>'user_search_form' do
        .input.input-prepend{style:'width:80%;'}
          %button{type:'submit',class:'btn'} 
            &nbsp;
            %i.icon-search{:onclick=>'javascript:$("#user_search_form").submit()',style:'margin-left: -5px;margin-top:4px;'}
          = text_field_tag 'search', params[:search], :class=>'span3 search-query', style:'padding-left:5px;padding-right:5px;width:100%;'
          %span.fornav-end
            %i.icon-remove-sign{:onclick=>'javascript:$("#user_search_form .search-query").val(""); $("#user_search_form").submit()'}
  .row.customers-contents
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %tr
          %th ID
          %th Email            
          %th User Name            
          %th Role
          %th App Visits            
          %th Medias Count
          %th Social Type
          %th Social ID
          %th Friend IDs
          %th Invited Friend IDs
          %th Ignored Friend IDs
          %th Avatar
          %th Actions
      %tbody
        - @users.each do |u|
          %tr
            %th= u._id
            %td= u.email
            %td= u.name
            %td= u.role
            %td= u.sign_in_count
            %td= u.medias.count
            %td= u.social_type
            %td= u.social_id
            %td= u.friend_ids
            %td= u.invited_friend_ids
            %td= u.ignored_friend_ids
            %td= u.avatar
            %td
              = link_to(edit_admin_user_path(u), class: 'btn btn-mini', :"data-no-turbolink"=>true) do
                %i.icon-pencil

              = link_to(admin_user_path(u), class: 'btn btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
                %i.icon-trash
      %tfoot
        %tr
          %td{colspan: 12}
            = will_paginate @users
          %td
            / = link_to "New User", new_admin_user_path, class: 'btn btn-primary pull-right'