.row.first-row
  .span8
    %h3 Properties
  .span4{style:'margin-top:20px;'}
    = link_to "New Property", new_admin_property_path, class: 'btn btn-primary pull-right'
.row.customers-contents
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %th Name
        %th PropertyID
        %th Address
        %th City
        %th State
        %th Zip
        %th Telephone
        %th Location
        %th Bedrooms
        %th Full Bathrooms
        %th Half Bathrooms
        %th Manage
    %tbody
      - @properties.each do |property|
        %tr
          %td= property.name
          %td= property.pt_id
          %td= property.address1
          %td= property.city
          %td= property.state
          %td= property.zip_code
          %td= property.phone
          %td= property.location
          %td= property.bedrooms
          %td= property.full_bathrooms
          %td= property.half_bathrooms
          %td
            = link_to(edit_admin_property_path(property), class: 'btn btn-mini', :"data-no-turbolink"=>true) do
              %i.icon-pencil

            = link_to(admin_property_path(property), class: 'btn btn-mini', method: :delete, data: {confirm: "Are you sure"}) do
              %i.icon-trash
    %tfoot
      %tr
        %td{colspan: 12}
          = will_paginate @properties
  